PORT=3000
NODE_ENV=development

# Database config
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=MaiSonViet2006
DB_NAME=lotte_app
PORT=3000

# JWT config
JWT_SECRET=supersecretkey_lotte_app_123
JWT_EXPIRES_IN=7d
