PORT=3000
NODE_ENV=development

# Database config
DB_USER=postgres
DB_HOST=localhost
DB_NAME=lotte_db
DB_PASSWORD=yourpassword
DB_PORT=5432

# JWT config
JWT_SECRET=supersecretkey_lotte_app_123
JWT_EXPIRES_IN=7d
