<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ptithcm.lottemart"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".CrashReportingApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LotteMart"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".features.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".features.fogotPassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminUserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminProductManagementActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminCategoryManagementActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminCategoryFormActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminProductFormActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminBranchManagementActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminPromotionsActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminSuppliersActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminImportOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminReceiptsActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminBatchesActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminTransfersActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminRolesActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminCouponsActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".features.shopping.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".features.search.SearchActivity"
            android:windowSoftInputMode="stateVisible"
            android:exported="false" />
        <activity
            android:name=".features.categories.CategoryProductsActivity"
            android:exported="false" />
        <activity
            android:name=".features.search.SearchResultsActivity"
            android:exported="false" />
        <activity
            android:name=".features.shopping.PaymentSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".features.shopping.CartActivity"
            android:exported="false" />
        <activity
            android:name=".features.shopping.OrderTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".features.shopping.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".features.shopping.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".features.shopping.PaymentFailureActivity"
            android:exported="false" />
        <activity
            android:name=".features.shopping.AddressBookActivity"
            android:exported="false" />
        <activity
            android:name=".features.shopping.CouponWalletActivity"
            android:exported="false" />
        <activity
            android:name=".features.loyalty.LPointActivity"
            android:exported="false" />
        <activity
            android:name=".features.notifications.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".features.shipper.ShipperDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".features.shipper.ShipperOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".features.shipper.ShipperDeliveryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".features.shipper.ShipperProofOfDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".features.shipper.ShipperTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".features.admin.AdminUserMapActivity"
            android:exported="false" />
        <activity
            android:name=".features.shopping.MapPickerActivity"
            android:exported="false" />
        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Facebook Config -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

</manifest>